.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #f8e8a2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Welcome-text {
  margin-top: 1.5%;
  color: firebrick;
  font-size: 2em;
}
/*.Button {*/
  /*background-image: linear-gradient(-90deg, red, yellow);*/
  /*border-radius: 255px;*/
  /*border: none;*/
  /*color: white;*/
/*}*/
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
